extends ../layout

block content
    header
        h1=title
    p
        a.button(href='/books/newbook') Create New Book
    p
        a.button(href='/books/') Home
    form(action='/books/search')
        input(type='text' name="term" placeholder='Search..' required)
        input(type='submit' value='Search Books')
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td
                        a(href="/books/" + book.id)=book.title
                    td=book.author
                    td=book.genre
                    td=book.year

    - var n =0;
    if pages
        .pagination
            a(href='#') &laquo;
            while n < pages
                - var link = n+1;
                if link === active
                    a.active(href='/books')=++n

                else
                    a(href='/books/page/'+ link)=++n
            a(href='#') &raquo;

